body{
  background-color: lightgrey;
  padding: 20px;
}
.Container-judul{
  background-color: gray;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  font-family: Times New Roman;
}
.Container-aw h2{
  text-align: center;
  margin: 5px;
}
.Container-aw p{
  margin: 0;
  text-align:center;
}
li{
  margin: 10px;
}
.Con-buat{
  background-color: gray;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  font-family: Times New Roman;
}
.Container-form h3{
  text-align: center;
  font-family: Times New Roman;
}
.Container-form input[type="submit"]{
  align-items: center;
  justify-content: center;
  display: flex;
}
input[type="text"],select,textarea{
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  outline:none;
  border: 1px solid black;
  margin-bottom: 14px;
  font-size: 15px;
}
.con-sub{
  display: flex;
  justify-content: center;
}
input[type="submit"]{
  border: none;
  color: white;
  background-color: gray;
  padding:10px;
  border-radius: 10px;
  cursor: pointer;
}
.Container-welcome h1,h5{
  text-align: center;
  font-family: Times New Roman;
}
a{
  text-decoration: none;
  color: blue;
}
table{
  margin:auto;
}
.con-t {
  background-color: gold;
}
.con-h{
  background-color: magenta;
}
.con-alf{
  background-color: aqua;
}
.con-ren{
  background-color: aqua;
}
.con-rob{
  background-color: aqua;
}
.kimia,.fisika,.biologi{
 background-color: lightblue;
}
td{
  background-color: aqua;
}
input[type="submit"]:hover{
  background-color: solid transparent;
}